@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;700&family=Shadows+Into+Light&display=swap');

* {
    font-family: "Merriweather Sans", sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #1c1c1b;
    --bg-cards: #5d5c6b;
    --bg-techs: #ffb01e;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background-color: var(--body-bg-color);
}

main {
    display: flex;
    width: 80vw;
    background-color: var(--body-bg-color);
}

#left {
    width: 22vw;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--bg-techs);
}


.card {
    margin: 1rem;
    background-color: var(--bg-cards);
    border-radius: 1rem;
    padding: 1rem;
}

.me {
    text-align: center;
}

.me p {
    font-size: 1rem;
}

.me img {
    width: 60%;
    border-radius: 10rem;
    box-shadow: 0 0 1rem var(--bg-techs);
    margin-bottom: 1rem;
}

.me h1 {
    font-size: 1.5rem;
    color: var(--bg-techs);
    margin: 0;
}

.me ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    align-items: center;
    justify-content: center;
}

.me i {
    padding-right: 1rem;
    color: var(--body-bg-color);
    transition: all 500ms ease-in-out;
}

.me i:hover {
    color: var(--bg-techs);
    text-shadow: 0 0 1rem var(--body-bg-color);
}

.tecnologies #tecList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--bg-techs);
}

h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

hr {
    border: 1px solid var(--bg-techs);
    border-radius: 1rem;
}

.tecnologies i {
    font-size: 3rem;
    margin: 0.3rem;
    padding: 0.5rem;
    color: var(--body-bg-color);
    text-align: center;
    transition: all 600ms ease-in-out;
}

.tecnologies i:hover {
    color: var(--bg-cards);
    color: var(--bg-techs);
}
#center{
    width: 60vw;
}

.myprojects {
    width: 93%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    display: flex;
    flex-direction: column;
    width: 86%;
}

.project .projectTitle {
    display: flex;
    flex-direction: row;
}

.project .projectBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project section i {
    padding: 0 0.3rem;
}

.project .projectBar #lang i {
    color: var(--bg-techs);
}


footer {
    max-width: 79vw;
    border-radius: 2rem;
    text-align: center;
}

footer p {
    color: var(--bg-cards)
}

@media only screen and (max-width: 1176px) {
    main {
        flex-direction: column;
    }

    #left,#center {
        width: 80vw;
    }

    .me {
        height: 90vh;
        overflow-y: hidden;
    }

    .me img {
        width: 30%;
    }

    .me h1 {
        font-size: 2.5rem;
    }

    .me h3 {
        font-size: 1.5rem;
    }

    .me p {
        font-size: 1.5rem;
    }

    .me ul i {
        font-size: 4rem;
        padding-left: 2rem;
    }

    h2 {
        font-size: 3rem;
    }
    .card h2{
        text-align: center;
    }
    .tecnologies i{
        font-size: 8rem;
    }
}